* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Zilla Slab', serif;

}

$fondo-links:rgb(148, 182, 194);

@import'base/index';
@import'base/nosotros';
@import'base/productos';
@import'base/contacto';
@import'base/footer';
@import'base/header';
@import'base/mediaQueries';
@import'base/blog';
a {
    text-transform: uppercase;
}

main {
    padding: 20px 0;
    min-height: 100vh;
}

body {
    // background-image: linear-gradient(to right, #141e30, #243b55);
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0.600), rgba(109, 212, 250, 0.600), rgba(59, 113, 135, 0.600));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.600), rgba(109, 212, 250, 0.600), rgba(59, 113, 135, 0.600)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1,
h2,
h3 {
    color: black;
    // color: #d88014;
    font-family: 'Times New Roman', serif;
    padding: 12px;
    padding-bottom: 22px;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-family: 'Zilla Slab', serif;
    padding: 15px;
    padding-left: 18px;
    padding-top: 5px;
    color: black;
}

main {
    h3 {
        background-color: white;
        padding-bottom: 12px;
        border: solid 1px black;
        margin: 0 10vw;
    }
}

