.main__blog {
    // height: 70vh;
    section {
        display: grid;
        align-items: center;
        grid-template-columns: 35% 65%;
        img {
            margin: 20px;
            height: 300px;
            width: 350px;
            object-fit: cover;
            border: solid 2px black
        }
        p {
            font-size: 15px;
            text-align: center;
        }
    }
}