footer {
    display: grid;
    grid-template-columns: 40% 60%;
    text-align: center;
    min-height: 6.5rem;
    background-image: url(../imagenes/fondo-footer.jpg);
    .iconos__redes{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        place-content: center;
        a{
            // width: 50%;
            img{
                height: 60px;
            }
        }
    }
    
    .texto__footer {
        display: grid;
        place-content: center;
        text-transform: uppercase;
        font-weight: bold;
        p {
            color: black;
        }
    }
}