$fondo-links:rgb(148, 182, 194);
footer {
    text-align: center;
    padding-top: 10px;
    background-image: url(../imagenes/fondo-footer.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    section {
        display: flex;
        justify-content: space-around;
    }
    .texto__footer {
        display: block;
        text-transform: uppercase;
        font-weight: bold;
        p {
            color: black;
        }
    }
}