header {
    border-bottom: solid 3px black;
    
    a{
        font-weight: bold;
    }
    img {
        height: 100px;
        width: 120px;
        object-fit: cover;
        transition: all 1s
    }
    img:hover {
        height: 120px;
        width: 140px;
    }
}