@media (max-width: 991.98px) {
    .main__blog {
        .gridAreas__blog {
            grid-template-columns: repeat(1, 1fr);
            grid-template-areas: 'img-blog
 parrafo-blog';
 img {
                height: 100%;
                width: 80%;
            }
        }
    }
    .main__nosotros {
        .gridAreas1__nosotros {
            grid-template-columns: repeat(1, 1fr);
            grid-template-areas: 'img1-nosotros
 parrafo1-nosotros';
 img {
                height: 100%;
                width: 80%;
            }
        }
        .gridAreas2__nosotros {
            grid-template-columns: repeat(1, 1fr);
            grid-template-areas: 'img2-nosotros
 parrafo2-nosotros';
 img {
                height: 100%;
                width: 80%;
            }
        }
        .gridAreas3__nosotros {
            grid-template-columns: repeat(1, 1fr);
            grid-template-areas: 'iframe-nosotros
 parrafo3-nosotros';
 iframe {
                height: 100%;
                width: 80%;
            }
        }
    }
}

@media (max-width: 768px) {
    .main__index {
        section {
            background-image: url('../imagenes/lentes8.jpg');
            h3 {
                padding-left: 140px;
            }
        }
    }
    .main__contacto {
        background-image: url('../imagenes/lentes8.jpg');
    }
    .main__productos {
        div {
            grid-template-columns: repeat(2, 2fr);
            grid-template-rows: repeat(3, 2fr);
        }
    }
}

@media (max-width: 512px) {
    .main__index {
        section {
            h3 {
                padding-left: 0px;
                font-size: 40px;
            }
        }
        div {
            height: 120px;
        }
    }
    footer {
        height: 220px;
    }
    .boton {
        height: 40px;
        width: 240px;
    }
    .main__productos {
        div {
            grid-template-columns: repeat(1, 2fr);
            grid-template-rows: repeat(6, 1fr);
        }
    }
}