/* NOSOTROS.HTML */

.boton {
    text-align: center;
    a {
        padding: 16px;
        color: white;
        text-decoration: none;
    }
    button:hover {
        background-color: rgb(121, 147, 156);
    }
}

button {
    background-color: $fondo-links;
    height: 50px;
    width: 300px;
    border-radius: 60px;
}

.main__nosotros {
    section {
        display: grid;
        align-items: center;
        grid-template-columns: 35% 65%;
        img {
            padding: 20px;
            height: 300px;
            width: 350px;
            object-fit: cover;
        }
        p {
            font-size: 15px;
            text-align: center;
        }
    }
}