/* NOSOTROS.HTML */

.boton {
    text-align: center;
    a {
        padding: 16px;
    }
}

button {
    background-color: $fondo-links;
    height: 50px;
    width: 300px;
    border-radius: 60px;
}