/* PRODUCTOS.HTML */

.main__productos {
    .div__productos {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        margin: 30px;
        div{
            border: solid 2px black;
            margin: 10px;
            text-align: center;
            // background-color: black;
            h4{
                text-transform: uppercase;
                padding: 5px;
            }
        }
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            transition: height 1s, width 1s;
        }
        // img:hover {
        //     height: 100%;
        //     width: 100%;
        // }
    }
}

table {
    border: solid #435258;
    // color: #d88014;
    color: black;
    margin: 10px;
    padding: 5px;
    th {
        padding: 6px;
        color: white;
    }
    td {
        padding: 6px;
        color: white;
    }
}