/* PRODUCTOS.HTML */

.main__productos {
    .div__productos {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        margin: 30px;
        div{
            background-color: white;
            box-shadow: 1px 1px 4px rgb(0, 0, 3);
            border: solid 2px black;
            border-radius: 10px;
            margin: 10px;
            text-align: center;
            transition: all 0.3s ease;

            img {
                height: 180px;
                object-fit: cover;
            }

            h4{
                text-transform: uppercase;
            }

            p{
                font-size: 1.2rem;
            }
        }
        
        div:hover{

            transform: scale(1.05);

        }

    }
}

table {
    border: solid #435258;
    // color: #d88014;
    color: black;
    margin: 10px;
    padding: 5px;
    th {
        padding: 6px;
        color: white;
    }
    td {
        padding: 6px;
        color: white;
    }
}